#name {
  color: white;                           /* колір шрифту */
  background: #9370db;                       /* колір фону (16-ричний формат)*/
  font-size: 20px;
  font-weight: bolder;
  font-style: oblique;
  text-decoration: blink;
  font-family: "Courier New", monospace;; /* шрифт */
  height: 50px;                           /* висота елементу */
  width: 50%;                             /* ширина елементу */
  margin: 20px;
  padding: 20px;
}
.todoList{
  color: purple;
  font-family: "Courier New", monospace;
  margin: 20px;
  padding: 20px;
}
